
body {
  background-color: #d6ccc0;
  font-family: 'Gloria Hallelujah', cursive;
}

h1 {
  text-shadow: 2px 2px 8px #abdff2;
}
#viewport {
  display: none;
}
#myCanvas {
  width: 100%;
  display: none;
  /*border: 0px none black;*/
}
.visualizer {
  margin-top: 100px;
  width: 100%;
  display: none;
  /*height: 113px;*/
  /*border: 0px none black;*/
  /*background-color: rgba(0, 0, 0, 0.0);*/
}
.circle {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: 0 0 0 50px;
    border-style: solid;
    display: block;
    position: relative;
}
canvas {
/*  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: -3px;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.7),
              0 3px 4px rgba(0,0,0,0.7);*/
  /*background-color: #d6ccc0;*/
}
.thumbnail {
  border-radius: 50%;
  height: 60px;
    width: 60px;
    background-size: cover;
    background-position: center;
    transition: border-radius 250ms;
    background-color: #d6ccc0;
    border: none;
}

.thumbnail:hover {
  border-radius: 0;
}

.search {
  margin-top: 30px;
}

.form-control, .dropdown-toggle {
  background-color: #d6ccc0;
  border: none;
}

.two-down {
  margin-top: 30px;
}

.circle .small-circle, 
.circle .thumbnail {
  margin: 0;
}