<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>save image to node</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Six+Caps|Share+Techno+Mono|Bungee+Hairline" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
     <link rel="stylesheet" href="./css/animate.css">
      <link rel="stylesheet" href="css/audio2.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
	.block{
		text-align:center;
		

	}
	.block img, input{
		display:inline-block;
	}
</style>
</head> 
<body>


<div id="form-div">
    <form class="form search" id="form1">
      <p class="name">
        <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"  id="name" autocomplete="off" autofocus/>
      </p>
    </form>
</div>
<!-- <section class="block container"> -->
<div style="display:none;" id="putImageHere"></div>
<canvas id="viewport" height="800" width="800"></canvas>
<div id="color-sphere"></div>
    <div class="wrapper">
    	<div class="circle dropp"></div>
    	<div class="circle2 dropp2"></div>
    	<div class="circle3 dropp3">
    		<div id="inner-circle"></div>
    	</div>
    	<div class="circle4 dropp4">
    		<p id="bitcrusher">bitcrusher</p>
    	</div>
    	<div class="circle5 dropp5">
    		<p id="tremolo">tremolo</p>
    	</div>
<!-- <div id="canvasDiv"></div> -->
        <!-- <div class="row row1"> -->
        <div class="drag-contain animated slideInUp">
	        <div class="dragg">
	        	<div class = "two-down dragImg small-circle thumbnail top1 up0" id="img1"></div>
	        </div>
	        <div class="dragg">
	        	<div class = "two-down dragImg small-circle thumbnail top2 up1" id="img2"></div>
	        </div>
            <div class="dragg">
				<div class = "two-down dragImg small-circle thumbnail top2 up2" id="img3"></div>
			</div>
            <div class="dragg">
                <div class = "two-down dragImg small-circle thumbnail top2 up3" id="img4"></div>
            </div>
            <div class="dragg">
	        	<div class = "two-down dragImg small-circle thumbnail top2 up4" id="img5"></div>
	        </div>
            <div class="dragg">
				<div class = "two-down dragImg small-circle thumbnail top2 up4" id="img6"></div>
			</div>
            <div class="dragg">
                <div class = "two-down dragImg small-circle thumbnail top2 up3" id="img7"></div>
            </div>
            <div class="dragg">
				<div class = "two-down dragImg small-circle thumbnail top2 up2" id="img8"></div>
			</div>
            <div class="dragg">
                <div class = "two-down dragImg small-circle thumbnail top2 up1" id="img9"></div>
            </div>
            <div class="dragg">
				<div class = "two-down dragImg small-circle thumbnail top2" id="img10"></div>
			</div>
        </div>
        <div class="drag-contain2 animated slideInUp">
	        <div class="dragg">
	        	<div class = "two-down node small-circle thumbnail2 top1 up0" id="sphere1"></div>
	        </div>
	        <div class="dragg">
	        	<div class = "two-down node small-circle thumbnail2 top2 up1" id="sphere2"></div>
	        </div>
            <div class="dragg">
				<div class = "two-down node small-circle thumbnail2 top2 up2" id="sphere3"></div>
			</div>
            <div class="dragg">
                <div class = "two-down node small-circle thumbnail2 top2 up3" id="sphere4"></div>
            </div>
            <div class="dragg">
	        	<div class = "two-down node small-circle thumbnail2 top2 up4" id="sphere5"></div>
	        </div>
            <div class="dragg">
				<div class = "two-down node small-circle thumbnail2 top2 up4" id="sphere6"></div>
			</div>
            <div class="dragg">
                <div class = "two-down node small-circle thumbnail2 top2 up3" id="sphere7"></div>
            </div>
            <div class="dragg">
				<div class = "two-down node small-circle thumbnail2 top2 up2" id="sphere8"></div>
			</div>
            <div class="dragg">
                <div class = "two-down node small-circle thumbnail2 top2 up1" id="sphere9"></div>
            </div>
            <div class="dragg">
				<div class = "two-down node small-circle thumbnail2 top2" id="sphere10"></div>
			</div>
        </div>
        <canvas class="visualizer" id="width" ></canvas> 
        <canvas id="myCanvas" ></canvas><br>
        <form class="controls">
            <div>
                <select id="visual" name="visual"></select>
            </div>
        </form>
    </div>
    <div id="vid-contain">
    	<video></video>
    </div>
</body>
	<script src="./theJS.js"></script>
    <script src="./buffer_loader.js"></script>
    <script src="./tuna.js"></script>
    <script src="./tuna-min.js"></script>
    <script src="./image_to_audio.js"></script>
    <script src="./app.js"></script>
    
    <script src="./audioimages.js"></script>
    <!-- <script src="./captureVideo.js"></script> -->
    <!-- <script src="./draw.js"></script> -->
    <!-- <script src="./audio.js"></script> -->
</html>
