<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <title>save image to node</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<style>
	.block{
		text-align:center;
		

	}
	.block blockquote{
		display:inline-block;
	}
	
</style>
  
</head> 

<body>

<section class="block">
<div style="display:none;" id="putImageHere"></div>
<button>click to see sent images</button>
<h1>Media</h1>
<%- gifBlock %>
</section>

</body>
<script src="./theJS.js"></script>
</html>
